input[type="text"],
input[type="password"] {
  width: 20%;
  padding: 12px 20px;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 0 auto;
}

button {
  background-color: #071d49;
  color: white;
  padding: 1%;
  border: none;
  cursor: pointer;
  width: 5%;
  display: block;
  margin: 0 auto;
  border-radius: 30%;
}

button:hover {
  opacity: 0.8;
}

.LoginDiv {
  padding: 1%;
}

a {
  color: #071d49;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}
